header {
  position: relative;
  /* background-color: red; */
}

header .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 50%);
}

header .content{
    z-index: 99;
}
