/***** VARIABLES/Fonts_import *****/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
/***** End VARIABLES *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: black;
}
/***** functions *****/
$font_size_value :(
    "h1": 4rem,
    "h2": 3.5rem,
    "h3": 3rem,
    "h4": 2.5rem,
    "h5": 2rem,
    "h6": 1.5rem,
    "p": 1rem,
    "small": 0.75rem
);
@function font_size($size){
    @return map-get($font_size_value,$size) 
};
/***** End functions *****/
body {
    display: grid;
    grid-template-columns:  1fr 4fr;
    grid-template-rows: 40vh minmax(100vh,auto) 20vh;

}
header {
    background-image: url('./Assets/patternpad\(5\).svg');
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: font_size(h1);
        color: white;
    }
    p {
        color: white;
        font-size: font_size(p);
        font-family: sans-serif;
        padding: 10px 0px;
    }
}
.sidebar {
    background: lightcoral;
    padding: 10px;
    .title {
        font-size: font_size(h3);
    }
    .sub {
        display: block;
        margin: 1.5rem 0;
        font-size: font_size(p);
    }
    .sub::before {
        content: "// ";
    }
}
article {
      white-space: pre-line;
      line-height: 2rem;
      padding: 1rem 3rem;
    .title {
        font-size: font_size(h2);
    }
    span {
        background: lightblue;
        font-size: font_size(h4);
    }

}

footer {
    background-color: lightsalmon;
    grid-column: 1/-1;
}
/***** Media quieres *****/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 290px) 
and (max-device-width : 480px) {
    body {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 30vh minmax(100vh,auto) 20vh;
}
/*** Header ***/
header {
    padding: 1rem 0.8rem;
    text-align: start;
    h1 {
        font-size: font_size(h4);
        margin-top: 1rem;
    }
    p {
        font-size: font_size(small);
        margin: 10px 0px;
    }
}
/*** Article ***/
article {
    padding: 0.5rem 1rem;
}
/*** Sidebar ***/
    .sidebar {
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 1024px) {
     body {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 30vh minmax(100vh,auto) 20vh;
}
/*** Header ***/
header {
    h1 {
        font-size: font_size(h5);
    }
}
/*** Article ***/
article {
    padding: none;
}
/*** Sidebar ***/
.sidebar {
    display: none;
}
}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
/***** End Media quieres *****/