/***** VARIABLES/Fonts_import *****/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
/***** End VARIABLES *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}
/***** functions *****/
$font_size_value :(
    "h1": 4rem,
    /* will_add_later
    "h2": 4rem,
    "h3": 4rem,
    "h4": 4rem,
     will_add_later*/

    "h5": 2rem,
    "h6": 1.5rem,
    "p": 1rem
);
@function font_size($size){
    @return map-get($font_size_value,$size) 
};
/***** End functions *****/
body {
    display: grid;
    grid-template-columns:  1fr 4fr;
    grid-template-rows: 40vh minmax(100vh,auto) 20vh;

}
header {
    background-color: lightgrey;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: font_size(h1);
    }
    p {
        font-size: font_size(p);
        font-family: sans-serif;
        padding: 10px 0px;
    }
}
.sidebar {
    background: lightcoral;
}
article {
    background-color: lightgreen;
}
footer {
    background-color: lightsalmon;
    grid-column: 1/-1;
}
/***** Media quieres *****/
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 290px) 
and (max-device-width : 480px) {
    body {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 30vh minmax(100vh,auto) 20vh;
}
header {
    h1 {
        font-size: font_size(h6);
    }
    p {
        font-size: 16px;
        margin: 10px 0px;
    }
}
    .sidebar {
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 1024px) {
     body {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 30vh minmax(100vh,auto) 20vh;
}
header {
    h1 {
        font-size: font_size(h5);
    }
}
.sidebar {
    display: none;
}
}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
/***** End Media quieres *****/