* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/***** VARIABLES *****/

/***** End VARIABLES *****/
body {
    display: grid;
    grid-template-columns:  1fr 4fr;
    grid-template-rows: 40vh minmax(100vh,auto) 20vh;
}
header {
    background-color: lightgrey;
    grid-column: 1/-1;
}
.sidebar {
    background: lightcoral;
}
article {
    background-color: lightgreen;
}
footer {
    background-color: lightsalmon;
    grid-column: 1/-1;
}